<!-- Footer -->
<footer class="footer">
  <div class="footer-copyright text-center py-3"> 
  	<!-- Version -->
	<p>v0.1</p>
	<!-- Copyright -->
    <a href="https://copyright.web.cern.ch/">Copyright </a>
    © 2019 CERN
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->