<h4>D<SUP>0</SUP> lifetime Exercise</h4>

<div class="tools">
    <fieldset class="event-handler">
        <legend class="event-handler">Analysis tools</legend>
        <button class="btn btn-light btn-block" (click)="displayMass ? showdata() : null">Plot D<SUP>0</SUP> mass</button>
        <br>
        <button class="btn btn-light btn-block" (click)=drawFitD0mass(D0_mass_coord)>Fit mass distribution</button>
    </fieldset>
    <form [formGroup]="distForm" (ngSubmit)="onSubmitDist(g)" id="ngForm" #g="ngForm">
    <fieldset class="event-handler">
        <legend class="event-handler">Background substr.</legend>
        <h6>Signal range</h6>
        <div class="range-slider">
            <nouislider
                [connect]="true"
                [min]="1810" [max]="1915"
                [step]="1" [formControl]="distForm.controls.range"
                [tooltips]="[ true, true ]"
                >
            </nouislider>
        </div>
        <button class="btn btn-light btn-block" type=submit form="ngForm" >Plot distributions</button>
    </fieldset>
    <fieldset class="event-handler">
        <legend class="event-handler">Variable range</legend>
            <h6>D<SUP>0</SUP> PT</h6>
            <div class="range-slider">
                <nouislider
                    [connect]="true"
                    [min]="2.5" [max]="20"
                    [step]="0.01" [formControl]="distForm.controls.PT"
                    [tooltips]="[ true, true ]"
                    >
                </nouislider>
            </div>
            <!-- <h6>D<SUP>0</SUP> TAU</h6> -->
            <h6>D<SUP>0</SUP> DecayTime(ps)</h6>
            <div class="range-slider">
                <nouislider
                    [connect]="true"
                    [min]="0" [max]="10"
                    [step]="0.01" [formControl]="distForm.controls.TAU"
                    [tooltips]="[ true, true ]"
                    >
                </nouislider>
            </div>
            <!-- <h6>D<SUP>0</SUP> IP</h6> -->
            <h6>log10(IP(mm))</h6>
            <div class="range-slider">
                <nouislider
                    [connect]="true"
                    [min]="-4" [max]="1.5"
                    [step]="0.01" [formControl]="distForm.controls.IP"
                    [tooltips]="[ true, true ]"
                    >
                </nouislider>
            </div>
            <button class="btn btn-light btn-block" (click)=drawFitD0mass(D0_mass_coord)>Refresh</button>
        </fieldset>
    </form>

    <fieldset class="event-handler">
        <legend class="event-handler">Time fit</legend>
        <div class=row>
            <h6>Fit result (ps) </h6>
            <h6 *ngIf="valLifetime">{{valLifetime.toFixed(3)}}</h6>
        </div>
        <div class=row>
            <h6>Fit Error </h6>
            <h6 *ngIf="errLifetime">{{errLifetime.toFixed(4)}}</h6>
        </div>
        <button class="btn btn-light btn-block" (click)="saveResultLifetime()">Save result</button>
    </fieldset>
    <button class="btn btn-light btn-block" (click)="openInstructions()">Read instructions</button>
</div>

<div class=histo-display>
    <div class="histo_MM"></div>
    <div class="histo_PT"></div>
    <div class="histo_lifetime"></div>
    <div class="histo_TAU"></div>
    <div class="histo_IP"></div>
    <div class="scatterplot"></div>

    <div class="fitter"></div> <!-- chi2(p1) -->
</div>
