<h4>Event Display Exercise</h4>

<div class="event-control">
    <fieldset class="event-handler">
        <legend class="event-handler">Event handler</legend>
        <h6 style="text-align: center" *ngIf="filename">{{filename}}</h6>
        <button class="btn btn-light btn-block" (click)="previous()">previous</button>
        <button class="btn btn-light btn-block" (click)="next()">next</button>
    </fieldset>

    <fieldset class="event-handler">
        <legend class="event-handler">View</legend>
        <mat-slide-toggle
          [checked]="checkedZoom"
          (change) = "zoomChange($event)"><h6>Zoom</h6>
        </mat-slide-toggle>
        <br>
        <mat-slide-toggle
          [checked]="checkedDetector"
          (change) = "hideDetChange($event)"><h6>Detector</h6>
        </mat-slide-toggle>
        <br>
        <mat-slide-toggle
          [checked]="checkedHelp"
          (change) = "helpD0Change($event)"><h6>Show D<sup>0</sup></h6>
        </mat-slide-toggle>

        <mat-form-field style="width: 100%; margin-top: 5px">
          <mat-label>View</mat-label>
          <mat-select [(ngModel)]="selectedView" (ngModelChange)="onChangeView()">
            <mat-option value="perspective">Perspective</mat-option>
            <mat-option value="top">Top</mat-option>
            <mat-option value="side">Side</mat-option>
            <mat-option value="front">Front</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [checked]="false" (change)=onChangeRotate($event) > <h6>Auto rotate</h6></mat-checkbox>
        <mat-slider (input)="onChangeOpacity($event)"
          min="0" 
          max="1" 
          step="0.05" 
          value="0.8">  
        </mat-slider>
    </fieldset>

    <fieldset class="event-handler">
      <legend class="event-handler">Legend</legend>
         <p class=legend>K<SUP>-</SUP>
            <svg height="4" width="60">
               <line x1="18" y1="0" x2="50" y2="0" style="stroke:#FF4500;stroke-width:15" />
            </svg>
         </p>
         <p class=legend>K<SUP>+</SUP>
            <svg height="4" width="60">
               <line x1="15" y1="0" x2="50" y2="0" style="stroke:#4169E1;stroke-width:15" />
            </svg>
         </p>
         <p class=legend>pi<SUP>+</SUP>
            <svg height="4" width="60">
               <line x1="15" y1="0" x2="50" y2="0" style="stroke:#32CD32;stroke-width:15" />
            </svg>
         </p>
         <p class=legend>pi<SUP>-</SUP>
            <svg height="4" width="60">
               <line x1="15" y1="0" x2="50" y2="0" style="stroke:#4B0082;stroke-width:15" />
            </svg>
         </p>
         <p class=legend>D<SUP>0</SUP>
            <svg height="4" width="60">
               <line x1="15" y1="0" x2="50" y2="0" style="stroke:#999999;stroke-width:10" />
            </svg> 
         </p>
    </fieldset> 
    <button class="btn btn-light btn-block" (click)="openInstructions()">Read instructions</button>

    <a style="text-decoration: none; color: #333333;" [href]="downloadJsonHref" download=calculated_masses.json>
      <button class="btn btn-light btn-block" style="margin-top: 5px;">Download JSON</button>
    </a>
</div>

<div class="event-display">
	<canvas width='600' height='450'
  	#canvas (mousedown)="onMouseDown($event)" 
    (mousemove)="onMouseMove($event)"
  	(window:resize)="onWindowResize($event)">		
	</canvas>
</div>

<div class="right_panel">
  <div class="subCol1">
    <fieldset class="event-handler" id="particle_info">
          <legend class="event-handler">Particle information</legend>
          <div class="col1">
              <h6><b>E</b></h6>
              <h6><b>chi2</b></h6>
              <h6><b>ipchi2</b></h6>
              <h6><b>mass</b></h6>
              <h6><b>name</b></h6>
              <!-- <h6><b>ZFstM</b></h6> -->
          </div>
          <div class=col2 *ngIf="theparticle">
              <h6>{{theparticle.E.toFixed(3)}}</h6>
              <h6>{{theparticle.chi2.toFixed(3)}}</h6>
              <h6>{{theparticle.ipchi2.toFixed(3)}}</h6>
              <h6>{{theparticle.mass.toFixed(3)}}</h6>
              <h6>{{theparticle.particleId}}</h6>
              <!-- <h6>{{theparticle.zFirstMeasurement.toFixed(3)}}</h6> -->
          </div>
          <div class=col3>
            <h6>MeV</h6><br><br>
            <h6>MeV/c<SUP>2</SUP></h6>
          </div> 
    </fieldset>
  </div>

  <div class = subCol2>
      <fieldset class="event-handler" id="my_particle">
        <legend class="event-handler" >My particles</legend>
          <div *ngIf="myParticle1">{{myParticle1.particleId}}</div> <div *ngIf="myParticle2">{{myParticle2.particleId}}</div>
      </fieldset>

      <!---<button (click)="calculate()">Calculate</button>
      <button (click)="clearParticles()">Clear</button>--->
      <fieldset class="event-handler" id="mass">
        <legend class="event-handler">Mass</legend>
          <div class=col1 *ngIf="massCalculated">
            <h6><b>{{massCalculated.toFixed(3)}}</b></h6>
          </div>
          <div class=col3>
            <h6>MeV/c<SUP>2</SUP></h6>
          </div>       
      </fieldset>
      <button class="btn btn-light btn-block" style="margin: 1.2em 1.2em 0.8em 0.1em;" (click)="add()">Add</button>
  </div>
  <div class="histo"></div>
</div>