<img *ngIf="addlogo" class="center" src="./assets/img/lhcb_logo.png">
<h4>{{modalTitle}}</h4>
<div style="white-space: pre-line;"><p>Please do find analytical instructions for the web version of the masterclass <a href="https://gitlab.cern.ch/LHCbOutreach/d0web/-/blob/master/documentation/DOCUMENTATION.md">here</a> and more information about the whole masterclass idea on this<a href="https://lhcb-public.web.cern.ch/en/LHCb-outreach/masterclasses/en/index.html"> link.</a> <br><br> <b>Thank you!</b></p></div>
<p>
	<button mat-button style="float: right;" (click)="onNoClick()">Close</button>
</p>
